<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ course.title }}</h5>
    <p class="card-text">{{ course.description }}</p>
    <h6 class="card-subtitle mb-2 text-muted price">{{ course.price | currency:'EUR' }}</h6>
    <h6 class="card-subtitle mb-2 text-muted level">{{ course.level }}</h6>
    <div class="button-container">
      <button type="button" class="btn btn-info mr-5px">+</button>
      <button type="button" class="btn btn-info">-</button>
    </div>
  </div>
</div>
