<div class="card">
  <div class="card-body" style="min-height: fit-content;">
    <h5 class="card-title">Your Cart</h5>
    <div class="dropdown-divider"></div>
    <div class="d-flex justify-content-between" *ngFor="let item of cart.items">
      <p class="card-text">{{ item.title }}</p>
      <p class="card-text">{{ item.price }}</p>
    </div>
    <div class="text-center" *ngIf="cart.items.length === 0">Empty Cart</div>
    <div class="dropdown-divider"></div>
    <div class="d-flex justify-content-between">
      <p class="card-text">Sum</p>
      <p class="card-text">{{ cart.sum | currency:'EUR' }}</p>
    </div>
  </div>
</div>
